.projects {
    text-align: center;
    padding: 0;
    padding-top: 150px;
    padding-bottom: 50px;
    background-color:rgb(227, 213, 200);
    min-height: 80vh;
}
.projectsHeader {
    width: 189px;
    height: 2rem;
    margin: 50px auto 90px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}
.projectsHeader h1 { 
    margin: 0;
    margin-left: -5px;
    font-weight: 800;
    font-size: 2rem; 
}