.MainPage {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
@media(max-width: 850px) { 
    .MainPage { 
        position: fixed;
        height:fit-content;
        overflow-y:scroll;
    }
}
