.contactMeInput { 
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
}
.Label { 
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.InputElement { 
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    padding: 6px 10px;
    display: block;
    width: 600px;
    box-sizing: border-box;
    margin-bottom: 40px;
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
}
.InputElement:hover{
    border: none;
    border-bottom: 2px solid rgb(57, 110, 255);
}
.InputElement:focus{
    border: none;
    border-bottom: 2px solid rgb(57, 110, 255);
}
.contactMeTextarea { 
    min-height: 150px;
    max-height: 150px;
    min-width: 600px;
    max-width: 600px;
    margin-bottom: 100px;
}

.Invalid{ 
    border-bottom: 2px solid rgb(185, 0, 0);
}