.contactMeInput { 
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement { 
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
}
.InputElement:hover{
    border: none;
    border-bottom: 2px solid rgb(57, 110, 255);
}
.InputElement:focus{
    border: none;
    border-bottom: 2px solid rgb(57, 110, 255);
}
.contactMeTextarea { 
    min-height: 150px;
    max-height: 150px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
}

.Invalid{ 
    border-bottom: 2px solid rgb(185, 0, 0);
}
.contactMeInputTitle { 
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width: 710px) and (max-width: 1100px) { 
    .InputElement { 
        width: 600px;
    }
    .contactMeTextarea { 
        min-width: 600px;
        max-width: 600px;
    }
}


@media (min-width: 1100px){
    .InputElement { 
        width: 600px;
    }
    .contactMeTextarea { 
        min-width: 600px;
        max-width: 600px;
    }
}