.asoFirstPageContent {
    /* position: relative;  */
    top: 8rem;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    margin: auto;
    width: 90%;
    max-width: 1400px;
    /* min-height: 1000px; */
}
.asoMainBanner { 
    width: 95%;
    height:200px;
    margin: 20px auto 0;
    /* border: 1px solid red; */
    /* overflow: hidden; */
}
.asoBannerImage{
    /* position: fixed; */
    width: 95%;
    height: 200px;
    overflow: hidden;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.asoBannerDot { 
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    border-radius: 50%;
    position: absolute; 
    top: 300px;
    left: 1150px;
    cursor: pointer;
    display: none;
 }
 .asoBannerProdectBox { 
     width: 110px;
     height: 150px;
     background-color: white;
     position: absolute;
     top: 35px;
     left: -35px;
     border-radius: 5px;
     opacity : 0;
     box-sizing: border-box;
 }
 .asoFirstBannerImgOneOne { 
    top: 69%;
    left: 70%;
    display: none;
    background-color: white;
 }
 .asoFirstBannerImgOneTwo { 
    top: 65%;
    left: 40%;
    background-color: white;
    display: none;
 }
 .asoFirstBannerImgTwoOne {
    top: 68%;
    left: 60%;
    background-color: white;
 }
 .asoFirstBannerImgTwoTwo {
    top: 60%;
    left: 30%;
    background-color: white;
 }
 .asoFirstBannerImgThreeOne { 
    top: 67%;
    left: 30%;
    background-color: white;
 }
 .asoFirstBannerImgThreeTwo { 
    top: 68%;
    left: 55%;
    background-color: white;
 }
 .asoBannerProdectBox img { 
     margin: 5px;
     margin-bottom: 0;
     width: 95px;
     height: 95px;
 }
 .asoBannerProdectBox { 
    margin-top: -5px;
 }
 .asoBannerDot:hover .asoBannerProdectBox { 
     opacity: 0.9;
 }

 /* .asoFirstBannerImgTwoOne { 
    top: 100px;
    left: 550px;
 } */

 .asoBannerImage { 
     width: 95%;
 }
 .asoSubBannerText { 
     font-size: 2rem;
     font-weight: 500;
     margin: 70px 0;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     line-height: 3.1rem;
 }
 .asoSubBannerThreeBoxes { 
     display: flex;
     flex-flow: column;
     width: 90%;
     margin: 0 auto;
     justify-content: center;
     /* border: 1px solid red; */
 }
 .asoSubBannerBox { 
     width: 100%;
     height: 200px;
     margin: 20px auto;
     background-size: cover;
     background-position: center;
     justify-content: center;
     background-blend-mode: darken;
     cursor: pointer;
 }
 .asoSubBannerBox h2 { 
    color: white;
    margin: auto;
    font-size: 2.5rem;
    margin-top:70px;
    text-shadow: 5px 5px 15px black;
 }
 .asoSubBannerBox p {
    color: white;
    margin: auto;
    font-size: 1rem;
    text-decoration: underline;
    text-shadow: 5px 5px 15px black;
 }

 .asoMainPageBrandNewSelections {
    width: 100%;
    height: 360px;
    display: flex;
    flex-flow: row;
    margin: auto;
    /* border: 1px solid orangered; */
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
}
.asoMainPageBrandNewSelectionsCenter { 
   display: flex;
   flex-flow: row;
   overflow-x: scroll;
   margin: auto;
   scroll-behavior: smooth;
   /* border: 1px solid orange; */
}

.asoMainPageArrow { 
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    background-color: rgba(204, 204, 204, 0.65);
    border-radius: 50%;
    margin-top: 11%; 
    box-shadow: none;
    border: none;
    display: none;
    /* border: 1px solid orangered; */
}
.asoMainPageArrow:hover { 
   background-color: rgba(204, 204, 204, 0.95);
}

.asoFifthBanner { 
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-position-y: 50%;
    padding-top: 190px;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 50px auto 25px;
    text-align: left;
}
.asoFifthBannerTitle { 
    color: white;
    text-align: left;
    margin: auto 10px;
    font-size: 2.7rem;
    word-wrap: break-word;
    max-width: 75%;
    /* border: 1px solid red; */
}

.asoRecognizedDesigners { 
    display: flex;
    flex-direction: column;
    flex-flow: column;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.asoRecognizedDesignersLeft { 
    display: flex;
    width: 100%;
    height: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    padding: 30px;
    box-sizing: border-box;
}
.asoRecognizedDesignersLeft p {
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
    color: white;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
.asoRecognizedDesignersLeft h3 { 
    font-size: 2.1rem;
    margin: 0;
    line-height: 3rem;
    color: white;
}
.asoRecognizedDesignersRight { 
    display: none;
    width: 100%;
    max-width: 100%;
}
.asoMainPageBrandNewSelectionsCenter { 
    height: 400px;
    width: 85%;
    max-width: 85%;
}

.asoMainPageBrands { 
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    font-size: 2.5rem;
    margin: 50px auto;
    overflow-x: scroll;
    color: rgb(90, 90, 90);
}
.asoMainPageBrands h5 { 
    margin: 25px;
}
.asoMainPageBrands h5:hover { 
    color: black;
}

.asoSixthBanners { 
    width: 100%;
    height: 900px;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: auto;
    cursor: pointer;
}
.asoSixthBannersLeft{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: left;
    padding: 40px 20px;
    box-sizing: border-box;
    margin: 5px 0;
    /* border: 1px solid red; */
}
.asoasoSixthBannersRight { 
    display: flex;
    flex-flow: column;
    /* border: 1px solid blue; */
    width: 100%;
    justify-content: space-between;
}
.asoasoSixthBannersRightOne { 
    width: 100%;
    height: 293px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px 0 5px;
    /* border: 1px solid red; */
}
.asoasoSixthBannersRightTwo { 
    width: 100%;
    height: 293px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px 0 5px;
    /* border: 1px solid red; */
}
.asoSixthBannersLeft:hover { 
    transform: scale(1.005);
    transition: transform 0.3s ease;
} 
.asoasoSixthBannersRightOne:hover { 
    transform: scale(1.005);
    transition: transform 0.3s ease;
}
.asoasoSixthBannersRightTwo:hover {
    transform: scale(1.005);
    transition: transform 0.3s ease;
}
.asoSixthBannersLeftBtn { 
    width: 130px;
    height: 40px;
    margin: 20px auto;
    background-color: white;
    border: none;
    box-shadow: none;
    color: rgb(27, 26, 31);
    font-weight: 700;
    font-size: 1.1rem;
    padding-top: 5px;
}
.asoSixthBannersLeftBtn:hover { 
    background-color: #ccc;
    font-size: 1.15rem;
}

.asoShopBy { 
    width: 100%;
    height: 700px;
    display: flex;
    flex-flow: column;
    margin: 40px auto;
    justify-content: space-between;
}
.asoShopByCategory { 
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: row;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.asoShopByBrand {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: row;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.asoShopByCollection {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: row;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.asoShopByCategoryOne { 
    width: 50%;
    height: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.asoShopByCollectionOne {
    width: 50%;
    height: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.asoShopByBrandOne{
    width: 50%;
    height: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.asoShopByCategoryTwo ul li { 
    list-style: none;
    text-align: left;
}
.asoShopByBrandTwo ul li { 
    list-style: none;
    text-align: left;
}
.asoShopByCollectionTwo ul li { 
    list-style: none;
    text-align: left;
}

.asoMainPageSubscribe { 
    width: 100%;
    height: 300px;
    margin: 150px auto 50px;;
    /* border: 1px solid red; */
}
.asoMainPageSubscribe h4 { 
    font-size: 1.7rem;
    margin: 50px auto 10px;
}
.asoMainPageSubscribe p { 
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
}
.asoMainPageSubscribe input {  
    width: 300px;
    height: 42px;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.1rem;
    padding-left: 10px;
}
.asoMainPageSubscribe button { 
    width: 120px;
    height: 42px;
    background-color: black;
    color: white;
    margin: 10px;
    box-shadow: none;
    border: none;
    font-weight: 800;
    font-size: 1.1rem;
    transform: translateX(-10px);
    cursor: pointer;
}

.asoMainPageColoredBtm { 
    /* position: absolute; */
    margin: 10px auto 50px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 90%;
    height: fit-content;
    padding: 0;
    padding-top: 60px;
    background-color: rgb(232, 236, 230);
}
.asoMainPageColoredBtm ul { 
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 10px auto;
    padding: 0;
    /* border: 1px solid red; */
}
.asoMainPageColoredBtm ul li { 
    margin: 10px 20px;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


@media screen and (min-width: 650px) and (max-width:1400px) { 
    .asoFirstPageContent {
        top: 7rem;
        width: 90%;
        margin: auto;
        /* left: 50%;
        transform: translateX(-50%); */
    }
    .asoMainBanner { 
        height: 400px;
    }
    .asoBannerImage { 
        height: 400px;
    }
    .asoBannerDot { display: none;}

    .asoSubBannerThreeBoxes { 
        flex-flow: column;
        width: 100%;
    }
    .asoSubBannerBox { 
        width: 100%;
        height: 200px;
        margin: 20px auto;
    }
    .asoSubBannerBox h2 { 
        color: white;
        margin: auto;
        font-size: 2.5rem;
        margin-top:70px;
        text-shadow: 5px 5px 15px black;
     }
     .asoSubBannerBox p {
        color: white;
        margin: auto;
        font-size: 1rem;
        text-decoration: underline;
        text-shadow: 5px 5px 15px black;
     }
     .asoFifthBanner {
        padding-top: 100px;
        background-position: center;
        padding-left: 30px;
     }
     .asoFifthBannerTitle { 
        margin: auto 10px;
        font-size: 3rem;
        max-width: 50%;
    }
    .asoMainPageArrow { 
        display: block;
    }
    .asoRecognizedDesigners { 
        display: flex;
        flex-direction: column;
        flex-flow: column;
        width: 100%;
    }
    .asoRecognizedDesignersLeft { 
        width: 100%;
        height: 340px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 50%;
        padding: 30px;
        box-sizing: border-box;
    }
    .asoRecognizedDesignersRight { 
        width: 100%;
        max-width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap:wrap;
    }
    .asoMainPageBrandNewSelectionsCenterZ { 
        height: 400px;
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-direction: row;
    }
    .asoMainPageBrands { 
        flex-flow: row;
        margin: 50px auto;
    }
    .asoSixthBanners {
        flex-flow: row;
        height: 600px;
    }
    .asoSixthBannersLeft{
        height: 100%;
        width: 60%;
        padding: 40px;
        margin: 0;
        margin-right: 10px;
    }
    .asoasoSixthBannersRight { 
        width: 40%;
        margin: 0;
    }
    .asoasoSixthBannersRightOne { 
        width: 95%;
        margin: 0;
    }
    .asoasoSixthBannersRightTwo { 
        width: 95%;
        margin: 0;
    }
    .asoShopBy { 
        width: 100%;
        height: 200px;
        display: flex;
        flex-flow: row;
        margin: 40px auto;
        justify-content: space-between;
    }
    .asoShopByCategory { 
        width: 30%;
        height: 100%;
    }
    .asoShopByBrand {
        width: 30%;
        height: 100%;
    }
    .asoShopByCollection {
        width: 30%;
        height: 100%;
    }
    .asoMainPageSubscribe { 
        width: 500px;
        height: 300px;
        margin: 150px auto 50px;;
        /* border: 1px solid red; */
    }
    .asoMainPageSubscribe button { 
        width: 85px;
        height: 42px;
        background-color: black;
        color: white;
        margin: 0;
        box-shadow: none;
        border: none;
        font-weight: 800;
        font-size: 1.1rem;
        transform: translateX(-10px);
        cursor: pointer;
    }
    .asoMainPageColoredBtm { 
        min-height: 270px;
        height: 270px;
    }
    .asoMainPageColoredBtm ul { 
        width: 95%;
        flex-flow: row;
    }
}

 


@media screen and (min-width: 1400px) { 
    .asoFirstPageContent {
        top: 11rem;
        /* left: 50%;
        transform: translateX(-50%); */
    }
    .asoMainBanner { 
        height: 600px;
    }
    .asoBannerImage { 
        height: 600px;
    }
    .asoBannerDot { 
        display: block;
    }
    .asoSubBannerThreeBoxes { 
        flex-flow: row;
        width: 100%;
    }
    .asoSubBannerBox { 
        width: 400px;
        height: 600px;
        margin: 20px;
    }
    .asoSubBannerBox h2 { 
        color: white;
        margin: auto;
        font-size: 2.5rem;
        margin-bottom: 15px;
        margin-top:250px;
        text-shadow: 5px 5px 15px black;
     }
     .asoSubBannerBox p {
        color: white;
        margin: auto;
        font-size: 1rem;
        text-decoration: underline;
        text-shadow: 5px 5px 15px black;
     }
     .asoFifthBanner { 
         padding-top: 150px;
         background-position: center;
         padding-left: 30px;
     }
     .asoFifthBannerTitle { 
        margin: auto 10px;
        font-size: 3rem;
        max-width: 50%;
        max-width: 50%;
    }
    .asoMainPageArrow { 
        display: block;
    }
    .asoRecognizedDesigners { 
        display: flex;
        flex-direction: row;
        flex-flow: row;
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    .asoRecognizedDesignersLeft { 
        width: 40%;
        height: 740px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 50%;
        padding: 30px;
        box-sizing: border-box;
    }
    .asoRecognizedDesignersRight { 
        width: 60%;
        max-width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    .asoMainPageBrandNewSelectionsCenterZ { 
        height: 780px;
        width: 60%;
        max-width: 60%;
        max-height: 780px;
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
    }
    .asoMainPageBrands { 
        flex-flow: row;
        margin: 50px auto;
    }
    .asoSixthBanners {
        flex-flow: row;
        height: 600px;
    }
    .asoSixthBannersLeft{
        height: 100%;
        width: 60%;
        padding: 40px;
        margin: 0 10px;
    }
    .asoasoSixthBannersRight { 
        width: 40%;
        margin: 0;
    }
    .asoasoSixthBannersRightOne { 
        width: 95%;
        margin: 0;
    }
    .asoasoSixthBannersRightTwo { 
        width: 95%;
        margin: 0;
    }
    .asoShopBy { 
        width: 100%;
        height: 200px;
        display: flex;
        flex-flow: row;
        margin: 40px auto;
        justify-content: space-between;
    }
    .asoShopByCategory { 
        width: 30%;
        height: 100%;
    }
    .asoShopByBrand {
        width: 30%;
        height: 100%;
    }
    .asoShopByCollection {
        width: 30%;
        height: 100%;
    }
    .asoMainPageSubscribe { 
        width: 500px;
        height: 300px;
        margin: 150px auto 50px;;
        /* border: 1px solid red; */
    }
    .asoMainPageSubscribe button { 
        width: 85px;
        height: 42px;
        background-color: black;
        color: white;
        margin: 0;
        box-shadow: none;
        border: none;
        font-weight: 800;
        font-size: 1.1rem;
        transform: translateX(-10px);
        cursor: pointer;
    }
    .asoMainPageColoredBtm { 
        height: 250px;
        width: 100%;
    }
    .asoMainPageColoredBtm ul { 
        flex-flow: row;
    }
 }