.asoProductAdd { 
    margin: 0 ;
    width: 100%;
    height: 2500px;
    padding: 0;
    padding-top: 200px;
    position: absolute;
}
.asoProductAddBody { 
    padding : 0px;
    width: 50%;
    min-height: 1000px;
    margin: 50px auto;
    box-sizing: border-box;
    left: 0;
    border: 1px solid #ccc;
}
.asoProductAddBody p { 
    text-align: center;
}
.asoProductAddForm { 
    height: 1000px;
}
.asoProductAddForm form { 
    display: flex;
    flex-direction: column;
    flex-flow: column;
}
.asoProductPageHr { 
    margin: 5px auto;
}
.asoProductAddBody label { 
    float: right;
    display: block;
    margin: 10px 0 10px 0 ;
    width: 600px;
    line-height: 40px;
    font-weight: 500;
    text-align: right;
}
.asoProductAddBody label input { 
    width: 400px;
    height: 30px;
    margin: 0 0 0 10px;
    float: right;
}
.asoBtnSbmt { 
    margin: 30px 30px 30px 100px;
    height: 40px;
    width: 120px;
    background-color: rgb(214, 0, 0);
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    border-radius: 3px;
    box-shadow : none;
    cursor: pointer;
}
.asoProductAddProductList {
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

@media screen and (min-width: 650px) and (max-width:1400px) { 

}


@media screen and (min-width: 1400px) { 
    
}
