.contactMe { 
    text-align: center;
    padding: 0;
    padding-top: 150px;
    padding-bottom: 0;
    background-color:rgb(227, 213, 200);
    height:fit-content
}

.contactMeForm { 
    width: 700px;
    min-height: 800px;
    background-color: white;
    box-shadow: -11px 9px 18px -1px rgba(105, 105, 105, 0.3);
    -webkit-box-shadow: -11px 9px 18px -1px rgba(105, 105, 105, 0.3);
    -moz-box-shadow: -11px 9px 18px -1px rgba(105, 105, 105, 0.3);
    margin: 20px auto 50px;
    padding: 40px;
    padding-top: 70px;
    box-sizing: border-box;
    text-align: left;

}
.contactMeHeader { 
    /* border: 1px solid red; */
    width: 189px;
    height: 2rem;
    margin: 50px auto 90px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}
.contactMeHeader h1 { 
    margin: 0;
    margin-left: -5px;
    font-weight: 800;
    font-size: 2rem;   
}