.mainPage { 
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 1700px;
    width: 100vw;
    overflow-x: scroll;
    position: absolute;
}

.mainPageBodyBackground { 
    position: absolute;
    width: 100vw;
    overflow-X:scroll;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 1700px;
    height: max-content;
    box-sizing: border-box;
}
.mainPageBodyCreamBoxLeft { 
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height:1700px;
    background-color: rgb(227, 213, 200);
}
.mainPageCenterBox { 
    width: 340px;
    margin: auto;
    display: flex;  
    flex-flow: column;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.mainPageCenterBoxLeft { 
    background-color: rgb(243, 233, 227);
    width: 340px;
    height: 600px;
    padding-top: 5px;
    box-sizing: border-box;
    box-shadow: -11px 9px 28px -1px rgba(105, 105, 105, 0.3);
    -webkit-box-shadow: -11px 9px 28px -1px rgba(105, 105, 105, 0.3);
    -moz-box-shadow: -11px 9px 28px -1px rgba(105, 105, 105, 0.3);
}
.mainPageCenterBoxRight {
    width: 340px;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(243, 233, 227, 0.5);
    margin-bottom: 200px;
    height: 700px;
}
.mainPageCenterBoxRight h2{ 
    font-size: 5.5rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 20px;
}
.mainPageCenterBoxRight h4 { 
    font-size: 1.6rem;
    font-weight: 600;
    margin: 10px 0 40px;
}
.btn1 { 
    height: 35px;
    width: 140px;
    margin: 5px 10px 40px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(57, 110, 255);
    border: 1px solid rgb(57, 110, 255);
    font-size: 1rem;
    font-weight: 600;
    padding-top: 3px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
}
.btn1:hover { 
    color: rgb(57, 110, 255);
    background-color: white;
    border: 2px solid rgb(57, 110, 255);
    transform: scale(1.1);
}
.btn2 { 
    height: 35px;
    width: 140px;
    margin: 5px 10px 40px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    border: 1px solid grey;
    font-size: 1rem;
    font-weight: 600;
    padding-top: 3px;
    color: rgb(59, 59, 59);
    box-sizing: border-box;
    cursor: pointer;
}
.btn2:hover { 
    background-color: rgb(57, 110, 255);
    color: white;
    border: 2px solid rgb(57, 110, 255);
    transform: scale(1.1);
}
.mainBodyDesc { 
    line-height: 1.8rem;
    color: rgb(59, 59, 59);
    font-size: 1rem;
}

.personalImage { 
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 50px auto 20px;
}
.mainPageCenterBoxLeft h1 {
    font-size: 1.8rem;
    line-height: 1rem;
    font-weight: 800;
}
.mainPageCenterBoxLeft hr { 
    width: 4rem;
    margin: 40px auto 30px;
    border: 1px solid rgb(57, 110, 255);
}
.mainPageCenterBoxLeft h2 { 
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 75px;
}
.mainPageButtons { 
    display: flex;
    flex-flow: row;
}
.mainPageLeftBoxBottom { 
    background-color:rgb(255, 251, 248);
    width: 100%;
    height: 4rem;
    padding-top: 25px;
    box-sizing: border-box;
    color:rgba(105, 105, 105, 0.3);
}

.mainPageFooter { 
    bottom:0;
    height: 8rem;
    z-index: 1;
}

@media (min-width: 500px) and (max-width: 1100px) { 

    .mainPage { 
        height: 150vh;
    }
    .mainPageBodyBackground { 
        min-height: 150vh;
    }
    .mainPageCenterBox { 
        width : 80%;
        margin: auto;
        top: 15%;
    }
    .mainPageCenterBoxLeft { 
        width: 100%;
    }
    .mainPageCenterBoxRight { 
        width: 100%;
        background-color: rgba(243, 233, 227, 0.5);
        margin-bottom: 0;
    }
    .mainPageBodyCreamBoxLeft { 
        height: 150vh;
    }
    .mainPageFooter { 
        position:absolute;
        display: block;
        bottom:0;
        height: 8rem;
    }
}

@media (min-width: 1100px) { 
    .mainPage { 
        height: 100vh;
        max-height: 100vh;
        min-height: 100vh;
    }
    .mainPageBodyBackground { 
        min-height: 100vh;
    }
    .mainPageNavbarStyle { 
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .mainPageFooterStyle { 
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    .mainPageBodyCreamBoxLeft { 
        height: 100%;
    }
    .mainPageCenterBox { 
        width: 900px;
        height: 600px;
        margin: auto;
        background-color: white;
        display: flex;
        flex-flow: row;
        box-sizing: border-box;
        top: 20%;
    }
    .mainPageCenterBoxLeft { 
        width: 450px;
        height: 600px;
    }
    .mainPageCenterBoxRight { 
        width: 500px;
        margin-bottom: 0;
        height: 600px;
    }
    .mainPageFooter { 
        position: fixed;
        bottom: 0;
        height: 8rem;
    }
}

@media (min-width: 1250px) and (max-height: 830px) { 
    .mainPageCenterBox {
        height: 500px;
    }
    .mainPageCenterBoxLeft { 
        height: 500px;
    }
    .mainPageCenterBoxRight { 
        height: 500px;
    }
    .personalImage { 
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin: 40px auto 20px;
    }
    .mainPageCenterBoxLeft h2 { 
        margin-bottom: 35px;
    }
    .mainPageCenterBoxRight h4 { 
        font-size: 1.4rem;
        font-weight: 600;
        margin: 10px 0 30px;
    }
    .mainBodyDesc { 
        line-height: 1.5rem;
        color: rgb(59, 59, 59);
        font-size: 0.9rem;
    }
}

